.sub_box1 {
    background-color: whitesmoke;
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
    width: 100px; 
    height: 150px;
    margin: 10px;
  }

  .sub_box1 img {
    max-width:100%;
    min-height: 130px;
    flex-basis: 25%;
  }

  .sub_box2 {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;
  }

  #title {
      display:block;
      /* line-height: 0%; */
  }

  .details_left {
    flex-direction: column;
  }

  .details_right {
    flex-direction: column;
  }

  .title h1 {
    font-size: 23px;
    font-weight: bold;
    height: 0px;
    width: 150px;
    margin: 0px 0px 30px 0px;
  }

  h5 {
      font-size: 10px;
      font-weight: 900;
  }

  .sub_box3 {
    background-color: whitesmoke;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px; 
    margin: 5px;
    flex-basis: 25%;
  }

.e_button {
    color: white;
    background-color: #3B945E;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.c_button {
    color: white;
    background-color: #3d5c5c;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}